Repository ebiyy/growth-partner: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, type-check, format

lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    lint-staged:
      glob: "*.{ts,tsx,json,yml,yaml}"
      run: bunx lint-staged
    type-check:
      glob: "*.{ts,tsx}"
      run: turbo run type-check
    format:
      glob: "*.{ts,tsx,json,yml,yaml}"
      run: bunx @biomejs/biome format {staged_files} --write

commit-msg:
  commands:
    conventional-commits:
      run: |
        commit_msg_file=$1
        commit_msg=$(cat $commit_msg_file)
        commit_pattern="^(feat|fix|docs|style|refactor|perf|test|chore|ci|build|revert)(\([a-z-]+\))?: .+"
        if ! [[ $commit_msg =~ $commit_pattern ]]; then
          echo "Error: Commit message does not follow Conventional Commits format"
          echo "Format: type(scope): description"
          echo "Types: feat, fix, docs, style, refactor, perf, test, chore, ci, build, revert"
          exit 1
        fi

pre-push:
  parallel: true
  commands:
    test:
      run: turbo run test
    build:
      run: turbo run build

chore: システム状態の記録とBiomeアップデート計画の追加
  tasks/current-state.yaml
Due: lint-staged, format

chore: タスク管理ルールの改善とワークフロー追加
  tasks/current-state.yaml
Due: lint-staged, format

refactor: 古いファイルをoldsディレクトリに整理
  olds/app.js
  olds/index.html
  olds/style.css
Due: none

docs: プロダクトコンセプトをproductsディレクトリに整理
  products/growth-partner-concept.md
Due: none

chore: タスク管理ファイルをtasksディレクトリに整理
  tasks/implementation-tasks.yaml
  tasks/lifecycle-tasks.yaml
Due: lint-staged, format

chore: Clineのタスク管理ルールを更新
  .clinerules
Due: none

delete: file
  app.js
  growth-partner-concept.md
  implementation-tasks.yaml
  index.html
  lifecycle-tasks.yaml
  style.css
Due: lint-staged, format

chore: 設定ファイルのフォーマットを調整
  .changeset/config.json
  renovate.json
  turbo.json
Due: lint-staged, format

chore: Biomeを1.9.4にアップデートしフォーマットを調整
  .clinerules
  api/package.json
  api/src/context.ts
  api/src/router/user.ts
  api/tsconfig.json
  bun.lockb
  config/biome/biome.json
  config/package.json
  config/tailwind/tailwind.config.ts
  config/tsconfig.json
  config/tsconfig/base.json
  config/tsconfig/next.json
  config/tsconfig/node-library.json
  config/tsconfig/react-library.json
  core/package.json
  core/src/domain/goal.ts
  core/src/domain/repositories.ts
  core/src/domain/user.ts
  core/src/index.ts
  core/src/usecases/goal.ts
  core/src/usecases/user.ts
  core/tsconfig.json
  desktop/package.json
  desktop/tsconfig.json
  olds/app.js
  olds/style.css
  package.json
  tasks/current-state.yaml
  ui/package.json
  ui/tsconfig.json
  web/package.json
  web/tsconfig.json
Due: lint-staged, type-check, format

chore: tasksディレクトリのYAMLファイルをフォーマット対象から除外
  biome.json
Due: lint-staged, format

refactor: タスク管理ファイルの拡張子を.yamlから.taskに変更
  tasks/current-progress.task
  tasks/implementation-tasks.task
  tasks/lessons-learned.task
  tasks/lifecycle-tasks.task
Due: none

refactor: タスク管理ファイルの拡張子変更に伴う設定の最適化
  .vscode/settings.json
  biome.json
Due: lint-staged, format

docs: タスク管理ファイルの拡張子変更に伴うドキュメントの更新
  .clinerules
Due: none

build: enforce bun as package manager
  .npmrc
  api/package.json
  config/package.json
  core/package.json
  desktop/package.json
  package.json
  ui/package.json
  web/package.json
Due: lint-staged, format

refactor: エラーハンドリングの改善
  core/src/domain/repositories.ts
  tasks/current-progress.task
Due: lint-staged, type-check, format

feat: AIコンテキスト自動生成の仕組みを追加
  docs/context.md
  lefthook.yml
  scripts/generate-docs-context.ts
Due: lint-staged, type-check, format

docs: ドキュメント構造の再編成
  docs/index/README.md
  docs/libraries/management.yml
  docs/packages/core.yml
  docs/persona/BEHAVIOR.yml
  docs/persona/ME.yml
  docs/persona/README.md
  docs/persona/logs/20250113_0032_implementation_reflection.yml
  docs/persona/schemas/log.yml
  docs/processes/error-handling.yml
  docs/processes/session-management.yml
  docs/products/growth-partner-concept.md
  docs/tasks/README.md
  docs/tasks/current-progress.task
  docs/tasks/implementation-tasks.task
  docs/tasks/lessons-learned.task
  docs/tasks/lifecycle-tasks.task
Due: lint-staged, format

chore: 古いドキュメントファイルの削除
  products/growth-partner-concept.md
  tasks/current-progress.task
  tasks/current-progress.yaml
  tasks/implementation-tasks.task
  tasks/implementation-tasks.yaml
  tasks/lessons-learned.task
  tasks/lifecycle-tasks.task
  tasks/lifecycle-tasks.yaml
Due: lint-staged, format

test: リポジトリレイヤーのテスト追加
  api/src/repositories/__tests__/goal.test.ts
  api/src/repositories/__tests__/user.test.ts
Due: lint-staged, type-check, format

feat: リポジトリレイヤーの実装改善
  api/src/context.ts
  api/src/index.ts
  api/src/repositories/goal.ts
  api/src/repositories/user.ts
  core/src/domain/repositories.ts
Due: lint-staged, type-check, format

chore: 依存関係とビルド設定の更新
  .clinerules
  api/tsconfig.json
  bun.lockb
  core/package.json
  package.json
Due: lint-staged, format
